$primary-color: #4D58FC;
$primary-font: 'Scada', sans-serif;

$secondary-color: #59C3C3;
/* A075FF */

$accent: #F7C59F;

$b-white: #EFE9F4;
$b-black: #2A324B;

@mixin header-1-mixin() {
    color: $primary-color;
    font-family: $primary-font;
    text-align: center;
    margin: 0 10px 0 10px;
}

@mixin topnav-mixin() {
    overflow: hidden;
    background-color: $primary-color;
    text-align: center;
    a {
    margin: auto;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
}

h1 {
    @include header-1-mixin();
}

.topnav {
    @include topnav-mixin();
}

.lg-pic {
    margin: auto;
    width: 100vw;
}

img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100vw;
    height: auto;
}

@media only screen and (max-width: 580) {
    .topnav {
        @include topnav-mixin();
        background-color: $secondary-color !important;
    }
}

.b-wrap {
    padding: 20px 0 20px 0;
}
